*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/caches/
/.idea/misc.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx/
*.so
*.png
*.jpg
*.spv
*.a
*.ttf
*.gx3d
*.bin
*.glb
*.gltf
build_file_checksums.ser
